<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key ="Connection26M" value="Data Source=BAKHUONG;Initial Catalog=26frontend;Persist Security Info=True;User ID=sa;Password=sa"/>-->
    <!--<add key ="Connection26M" value="Data Source=VIS-SRV\SQL2005;Initial Catalog=26Frontend;Persist Security Info=True;User ID=26FrontEnd;Password=thongminhviet"/>-->
    <add key="26M" value="C:\Program Files\II-VI Prod\FrontEnd\II-VIFrontEnd\IIVI 2011.exe"/>
    <add key="26SMS" value="C:\Program Files\II-VI Prod\SMS\WIN_SMS.exe"/>
    <add key="26Ass" value="C:\Program Files\II-VI Prod\Assembly\Assembly DMS\Assembly.exe"/>
    <add key="26Training" value="C:\Program Files\II-VI Prod\Training\II-VI Trainning.exe"/>
    <!--link toi file exe-->
    <!--<add key="26trainning" value="C:\Program Files\II-VI Prod\Training\II-VI Trainning.exe" />-->
    <add key="26Upload" value="C:\Program Files\II-VI Prod\UploadTraveler\UploadTraveler.exe"/>
    <add key="26Canteen" value="C:\Program Files\II-VI Prod\Canteen\Canteen.exe"/>
    <add key="PR" value="C:\Program Files\II-VI Prod\PR Software\II-VI PR.exe"/>
    <add key="26IQC" value="C:\Program Files\II-VI Prod\IQC\DMS4IQC-Production Version.exe"/>
    <add key="26OST" value="C:\Program Files\II-VI Prod\OST\OST.exe"/>

    <add key="SERVER" value="VNMBI-DB01" />
    <add key="DATABASE" value="assembly" />
    <add key="UID" value="systemline" />
    <add key="PWD" value="1C57EE99FA007084307D5871AC85C4A8" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UrlService" value="http://localhost:52589/Web_IIVI_M/"/>
    
    
  </appSettings>
</configuration>