@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

