@model II_VI_Incorporated_SCM.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}
<style>
    .input-icon {
        max-width: 315px;
        margin: 20px;
    }

    p {
        max-height: 20px;
    }
</style>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forget-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password.</p>
    <br/>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="max-height: 63px">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autocomplete = "off", @placeholder = "Email" })
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn red btn-outline" onclick="onback()">Back </button>
        <button type="submit" class="btn green pull-right"> Submit </button>
    </div>
}
<script>
    var URLback = '@Url.Action("Login", "Account")'
    function onback() {
        window.location = URLback;
    }
</script>


