@{

}
<div class="row">
    <div class="portlet-body form">
        <table class="table table-striped table-bordered table-hover table-checkable order-column">
            <thead>
                <tr>
                    <th>RESPON</th>
                    <th>DISPN</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option>1.Vendor</option>
                                <option>Vendor 2</option>
                                <option>Vendor 3</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option>G.Describe</option>
                                <option>Describe 2</option>
                                <option>Describe 3</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option>1.Vendor</option>
                                <option>Vendor 2</option>
                                <option>Vendor 3</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option>G.Describe</option>
                                <option>G. 1</option>
                                <option>G. 3</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <b>CONRECTIVE ACTION</b>
        <br />
        <form class="form-group" role="form">
            <div class="box">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="checkbox" />
                            NOT REQUIREC
                            <input type="checkbox" />
                            REQUIRED
                            <input type="checkbox" />
                            NOTIFICATION ONLY
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">ISSUED CORECTIVE ACTION REQUEST .NO</label>
                        <div class="col-md-2">
                            <input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control" />
                        </div>
                        <label class="col-md-2 control-label">DATE</label>
                        <div class="col-md-2">
                            <input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br />
        <b>ACCTG USE ONLY</b>
        <br />
        <form class="form-group" role="form">
            <div class="box">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">REMOVED FROM</label>
                        <div class="col-md-4">
                            <input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">BOOK INV</label>
                        <div class="col-md-4">
                            <input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control" />
                        </div>
                    </div>
                </div>
                <br />
                ISSUED DEBIT DEMO
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">DATE</label>
                        <div class="col-md-2">
                            <input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control" />
                        </div>
                        <label class="col-md-2 control-label">NO.</label>
                        <div class="col-md-2">
                            <input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <br />
        <table class="table table-striped table-bordered table-hover table-checkable order-column">
            <thead>
                <tr>
                    <th colspan="5">MARLOW MRB AUTHORIZATION</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>
                        <b>QUALITY</b>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Trần Thị Hải Lưu</option>
                                <option>Nguyễn Trung Trực</option>
                                <option>Huỳnh Tấn Tài</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <b>Engineering</b>

                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Vũ Thành Công</option>
                                <option>Nguyễn Trung Trực</option>
                                <option>Huỳnh Tấn Tài</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr class="odd gradeX">
                    <td>
                        <b>AFG/GASSY</b>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Hà Thị Tươi</option>
                                <option>Nguyễn Trung Trực</option>
                                <option>Huỳnh Tấn Tài</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <b>AFG/GASSY</b>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Hà Thị Tươi</option>
                                <option>Nguyễn Trung Trực</option>
                                <option>Huỳnh Tấn Tài</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <form class="form-group" role="form">
            <div class="box">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">SHIPPING METHOD</label>
                        <div class="col-md-4">
                            <input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">RETURN MATERIAL AUTHORIZATION NUMBER</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

